// Basic HTML
// ----------------------------------------------------------------

html {
  -webkit-font-smoothing: antialiased;
  font-size: 20px;

  @include medium-up {
    font-size: 24px;
  }
}

body {
  font-family: $font-body;
  @include fontSize(base);
  color: $color-body;
  background: white;
  position: relative;
  padding-bottom: 200px;
}

a {
  color: $color-link;
  @include transition(color 100ms);

  &:hover{
    color: $color-link-hover;
  }
}

b {
  font-weight: $weight-semibold;
}

.button,
button {
  display: inline-block;
  background-color: black;
  color: white;
  @include transition(background-color 100ms);
  text-decoration: none;
  text-transform: uppercase;
  @include fontSize(small);
  font-weight: $weight-semibold;
  font-family: $font-button;
  padding: 8px 16px;

  &:hover {
    color: white;
    background-color: $color-button-hover;
  }
}

h1, h2, h3, h4, ul, ol, p {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: $font-heading;
  font-weight: $weight-light;
  margin-bottom: 0.4em;
}

h1 {
  @include fontSize(xlarge);
}

h2 {
  @include fontSize(xlarge);
}

h3 {
  @include fontSize(large);
}

h4 {
  @include fontSize(medium);
}

article {
  @include layout-container;
}
