// Basic HTML
// ----------------------------------------------------------------

html {
  -webkit-font-smoothing: antialiased;
  font-size: 20px;

  @include medium-up {
    font-size: 24px;
  }
}

body {
  font-family: $font-body;
  @include font-size(base);
  color: $color-body;
  background: white;
  position: relative;
  padding-bottom: 200px;
}

a {
  color: $color-link;
  @include transition(color $transition-color);

  &:hover{
    color: $color-link-hover;
  }
}

b, strong {
  font-weight: $weight-semibold;
}

.button,
button {
  position: relative;
  display: inline-block;
  background-color: black;
  color: white;
  @include transition(background-color $transition-color, border-color $transition-color);
  text-decoration: none;
  text-transform: uppercase;
  @include font-size(small);
  font-weight: $weight-semibold;
  font-family: $font-button;
  padding: 8px 30px;

  &:hover {
    color: white;
    background-color: $color-button-hover;
    border-color: $color-button-hover;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-width: 1px 15px;
    border-style: solid;
    border-color: transparent;
    @include border-image(url('../images/button.svg') 1 15 stretch);
  }
}

h1, h2, h3, h4, ul, ol, p {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: $font-heading;
  font-weight: $weight-light;
  margin-bottom: 0.4em;
}

h1 {
  @include font-size(xlarge);
}

h2 {
  @include font-size(large);
}

h3 {
  @include font-size(medium);
}

h4 {
  @include font-size(base);
}

article {
  @include layout-container;
}
