.entry {
  @extend %clearfix;
  margin-bottom: gutter()*3;

  .entry-header {
    @extend %header;

    a {
      text-decoration: none;
    }

    h3.entry-title {
      @include font-size(xlarge);
      margin-bottom: 0.05em;
    }

    .entry-meta,
    .entry-summary-tag {
      color: $color-ash;
      @include font-size(small);
    }

    .entry-meta-tags {
      @include list-reset;
      display: inline-block;
      vertical-align: middle;

      li {
        float: left;

        + li:before {
          content: ', ';
        }
      }
    }

    .entry-summary-tag:hover {
      color: $color-link-hover;
    }
  }

  .entry-teaser,
  .entry-content {
    @include span(12);
    margin-top: 0.4em;
  }

  &.entry-summary {

    .entry-header {
      text-align: left;
      margin: 0;
    }
  }

  .entry-content {
    h2, h3, h4 {
      margin: 1em 0 0.3em;
      color: $color-heading;
    }

    blockquote {
      border-left: solid 1px $color-ash;
      color: $color-slate;
      padding: 0 gutter()*2;
      margin: 0 gutter()*2;
    }

    .photo {
      position: relative;
      display: block;
      margin-bottom: 1em;
      max-width: 100%;
    }

    .photo-wide {
      @include large-up {
        max-width: none;
        width: $site-width + gutter()*20;
        left: gutter()*-10;
      }
    }
  }
}

.secondary-section {
  position: relative;

  > .full-width-header {
    position: absolute;
    width: 100%;

    h2 {
      visibility: hidden;
    }

    @include small-only {
      display: none;
    }
  }

  .secondary-section-content {
    @include font-size(small);

    @include medium-up {
      @include layout-container;

      > section {
        float: left;
        padding-top: 0;

        article, .content {
          padding: 0;
        }
      }
    }

    &.two-columns {
      @include medium-up {
        > section {
          @include span(6);
        }
      }
    }
  }
}
