#header {
  @extend %container;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  
  @include medium-up {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .secondary & {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

#logo-type {
  @extend %svg-hover;
  display: block;
  width: 75%;
  max-width: 656px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;

  @include medium-up {
    width: 100%;
  }

  .logo-letter {
    height: auto;
    width: 16.31%;
    margin-right: 11.58%;

    &:last-child {
      margin-right: 0;
    }
  }

  .secondary & {
    width: 120px;
  }
}