
%hex-middle {
  width: 348px;
  height: 401px;
  stroke: #ccc;
}

%hex-back {
  width: 348px;
  height: 401px;
  stroke: #ddd;
}

.hex-pattern {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  &.hex-pattern-top {
    height: 140px;
    top: 0;

    .secondary & {
      opacity: 0.7;
    }

    .hex {
      top: 0;
      @include transform(translateY(-72%) translateX(-50%));

      .secondary & {
        @include transform(translateY(-82%) translateX(-50%));
      }

      @include small-only {
        @include transform(translateY(-82%) translateX(-50%));
      }
    }
  }

  &.hex-pattern-bottom {
    bottom: 0;
    height: 300px;

    .hex {
      top: -15%;
      @include transform(translateY(40%) translateX(-50%));
    }
  }

  .hex-pattern-wrapper {
    position: relative;
    width: 100%;
    max-width: $site-width + 400px;
    height: 100%;
    margin: 0 auto;
  }

  .hex {
    position: absolute;
  }

  .hex-front {
    width: 424px;
    height: 488px;
    stroke: #aaa;
    left: 50%;
  }

  .hex-left-back {
    @extend %hex-back;
    left: 25%;

    @include small-only {
      display: none;
    }
  }

  .hex-right-back {
    @extend %hex-back;
    left: 75%;

    @include small-only {
      display: none;
    }
  }

  .hex-left-middle {
    @extend %hex-middle;
    left: 0;

    @include small-only {
      left: -10%;
    }
  }

  .hex-right-middle {
    @extend %hex-middle;
    left: 100%;

    @include small-only {
      left: 110%;
    }
  }
}

