
// Layout
// ----------------------------------------------------------------

#main {
  @extend %clearfix;
}

section + section {
  padding-top: 30px;
}

.full-width-header {
  position: relative;
  text-align: center;
  margin-bottom: gutter()*4;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    top: 50%;
    border-top: solid 1px $color-ash;
  }

  &.no-text {
    h2 {
      visibility: hidden;
    }
  }

  h2 {
    display: inline-block;
    position: relative;
    padding: 8px 16px;
    margin: 0;
    border: solid 1px $color-ash;
    z-index: 2;
    color: black;
    font-weight: $weight-regular;
    @include fontSize(small);
    font-family: $font-heading;
    text-transform: uppercase;
    background: white;

    /*$corner-size: 29.8px;
    $corner-offset: -16px;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      width: $corner-size;
      height: $corner-size;
      background-color: white;
      border-top: solid 1px $color-ash;
      border-bottom: solid 1px white;
      z-index: -1;
    }

    &:before {
      left: $corner-offset;
      border-left: solid 1px $color-ash;
      @include transform(rotate(-45deg) scale(0.81) skewX(-10deg) skewY(-10deg));
    }

    &:after {
      right: $corner-offset;
      border-right: solid 1px $color-ash;
      @include transform(rotate(45deg) scale(0.81) skewX(10deg) skewY(10deg));
    }*/
  }
}

.content {
  @include span(12);
}
