
// Layout
// ----------------------------------------------------------------

#main {
  @extend %clearfix;
}

section + section {
  padding-top: gutter()*3;
}

.full-width-header {
  position: relative;
  text-align: center;
  margin-bottom: gutter()*4;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    top: 50%;
    border-top: solid 1px $color-ash;
  }

  &.no-text {
    h2 {
      visibility: hidden;
    }
  }

  h2 {
    display: inline-block;
    position: relative;
    padding: 8px 30px;
    margin: 0;

    z-index: 2;
    color: black;
    font-weight: $weight-semibold;
    @include font-size(small);
    font-family: $font-body;
    text-transform: uppercase;
    background-color: white;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      border-width: 2px 15px;
      @include border-image(url('../images/heading.svg') 2 15 round);
    }
  }
}

.content {
  @include span(12);
}

#footer {
  margin-top: gutter()*3;
}
