
@mixin fontSize($size) {
  font-size: map-get($font-settings, #{$size}-size);
  line-height: map-get($font-settings, #{$size}-lineHeight);
}

%u-textCentered,
.u-textCentered {
  text-align: center;
}

%u-imageLeft,
.u-imageLeft {
  @include span(4);
  padding-right: gutter()*2;
  padding-left: 0;
}