
// Fonts
// ----------------------------------------------------------------

@mixin font-size($size) {
  font-size: map-get($font-scales, #{$size}-size);
  line-height: map-get($font-scales, #{$size}-lineHeight);
}

%u-text-centered,
.u-text-centered {
  text-align: center;
}

// Icons
// ----------------------------------------------------------------

%svg-hover {
  svg {
    fill: black;
    @include transition(fill $transition-color);
  }

  &:hover {
    svg {
      fill: $color-button-hover;
    }
  }
}

// Layout
// ----------------------------------------------------------------

@mixin layout-container {
  @include container;
  max-width: $site-width + gutter()*2;
  padding-left: gutter();
  padding-right: gutter();
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: block;
  }
}

%header {
  @include span(12);
  text-align: center;
  margin: gutter()*2 0 gutter()*3;

  h1 {
    margin-bottom: 0.2em;
    margin-top: 0;
    @include font-size(xxxlarge);

    @include small-only {
      @include font-size(xxlarge);
    }

    a {
      text-decoration: none;
    }
  }

  .title,
  .title a {
    color: $color-heading;
  }

  .title a:hover {
    color: $color-link-hover;
  }
}

.container,
%container {
  @include layout-container;
}

%u-width-25,
.u-width-25 {
  @include span(3);
}

%u-width-33,
.u-width-33 {
  @include span(4);
}

%u-width-small-100,
.u-width-small-100 {
  @include small-only {
    @include span(12);
  }
}

%u-image-left,
.u-image-left {
  float: left;
  padding: 0;
  margin-right: gutter()*2;
  margin-bottom: gutter()*2;
}

%u-image-right,
.u-image-right {
  float: right;
  padding: 0;
  margin-left: gutter()*2;
  margin-bottom: gutter()*2;
}

%u-image-border,
.u-image-border {
  border: solid 1px;
}

// Clearfix
// ----------------------------------------------------------------

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%clearfix {
  @include clearfix;
}