
@mixin fontSize($size) {
  font-size: map-get($font-sizes, size-#{$size});
}

%u-textCentered,
.u-textCentered {
  text-align: center;
}

%u-imageLeft,
.u-imageLeft {
  @include span(4);
  padding-right: gutter()*2;
  padding-left: 0;
}