.post {
  margin-bottom: gutter()*2;

  .post-header {
    @include span(12);
    text-align: center;
    margin: gutter()*2 0 gutter()*3;

    .post-title {
      -webkit-font-smoothing: auto;
      font-style: italic;
      margin-bottom: 0.1em;
      font-weight: $weight-bold;

      a {
        text-decoration: none;
      }
    }

    h1.post-title {
      margin-top: 0;
      @include fontSize(xxlarge);

      @include small-only {
        @include fontSize(xlarge);
      }
    }

    h3.post-title {
      @include fontSize(large);
    }

    .post-meta,
    .post-summary-tag {
      color: $color-ash;
      @include fontSize(small);
      text-decoration: none;
    }

    .post-summary-tag:hover {
      color: $color-link-hover;
    }
  }

  .post-teaser,
  .post-content {
    @include span(12);
    margin-top: 0.4em;
  }

  &.post-summary {
    + .post-summary {
      margin-top: gutter()*2;
    }

    .post-header {
      text-align: left;
      margin: 0;
    }
  }

  .post-content {
    h2, h3, h4 {
      margin: 1em 0 0.3em;
    }

    h2 {
      color: #444;
    }

    h3 {
      color: #666;
    }

    h4 {
      color: #888;
    }

    blockquote {
      border: solid 2px;
      font-weight: $weight-semibold;
      border-left: none;
      border-right: none;
      padding: 0.5em;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
  }
}

.column-section {
  position: relative;

  > .full-width-header {
    position: absolute;
    width: 100%;

    h2 {
      visibility: hidden;
    }

    @include small-only {
      display: none;
    }
  }

  .column-section-content {
    @include medium-up {
      @include layout-container;

      > section {
        float: left;
        padding-top: 0;

        article, .content {
          padding: 0;
        }
      }
    }

    &.two-columns {
      @include medium-up {
        > section {
          @include span(6);
        }
      }
    }
  }
}