.post {
  margin-bottom: gutter()*2;

  .post-header {
    @extend %header;

    a {
      text-decoration: none;
    }

    h3.post-title {
      @include font-size(large);
      margin-bottom: 0;
      font-weight: $weight-semibold;
    }

    .post-meta,
    .post-summary-tag {
      color: $color-ash;
      @include font-size(small);
    }

    .post-meta-tags {
      @include list-reset;
      display: inline-block;
      vertical-align: middle;

      li {
        float: left;

        + li:before {
          content: ', ';
        }
      }
    }

    .post-summary-tag:hover {
      color: $color-link-hover;
    }
  }

  .post-teaser,
  .post-content {
    @include span(12);
    margin-top: 0.4em;
  }

  &.post-summary {
    + .post-summary {
      margin-top: gutter()*2;
    }

    .post-header {
      text-align: left;
      margin: 0;
    }
  }

  .post-content {
    h2, h3, h4 {
      margin: 1em 0 0.3em;
    }

    h2 {
      color: $color-smoke;
    }

    h3 {
      color: $color-rock;
    }

    h4 {
      color: $color-slate;
    }

    blockquote {
      border: solid 2px;
      font-weight: $weight-semibold;
      border-left: none;
      border-right: none;
      padding: 0.5em;
      margin-left: 0;
      margin-right: 0;

      @include medium-up {
        margin-left: -2*gutter();
        margin-right: -2*gutter();
      }
    }
  }
}

.secondary-section {
  position: relative;

  > .full-width-header {
    position: absolute;
    width: 100%;

    h2 {
      visibility: hidden;
    }

    @include small-only {
      display: none;
    }
  }

  .secondary-section-content {
    @include font-size(small);

    @include medium-up {
      @include layout-container;

      > section {
        float: left;
        padding-top: 0;

        article, .content {
          padding: 0;
        }
      }
    }

    &.two-columns {
      @include medium-up {
        > section {
          @include span(6);
        }
      }
    }
  }
}