
$site-width: 780px;
$gutter: 20px;

// Fonts
// ----------------------------------------------------------------

$arno: 'arno-pro', Georgia, serif;

$font-body: $arno;
$font-heading: $arno;
$font-button: $arno;

$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

$font-size-small: 20px;
$font-size-base: 24px;


// Colors
// ----------------------------------------------------------------

$color-body: #333;
$color-link: #000;
$color-hover: #ee5b28;

$color-ash: #afafaf;