
// Media Query Widths
// ----------------------------------------------------------------

$large-size: (start: 1024px, end: 9999px);
$medium-size: (start: 768px, end: 1023px);
$small-size: (start: 0, end: 767px);

// Layout Sizes
// ----------------------------------------------------------------

$site-width: 800px;
$gutter: 20px;

// Fonts
// ----------------------------------------------------------------

$arno: 'arno-pro', Georgia, serif;

$font-body: $arno;
$font-heading: $arno;
$font-button: $arno;

$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

// Modular scale: http://modularscale.com/scale/?px1=24&px2=&ra1=1.25&ra2=0
$font-settings: (
  xxsmall-size: 12px,  // ~0.512em
  xsmall-size: 15px,   // ~0.64em
  small-size: 19px,    // ~0.8em
  base-size: 24px,     // 1em
  base-lineHeight: 1.5,
  medium-size: 30px,   // ~1.25em
  medium-lineHeight: 1.3,
  large-size: 38px,    // ~1.563em
  large-lineHeight: 1.3,
  xlarge-size: 47px,   // ~1.953em
  xlarge-lineHeight: 1.3,
  xxlarge-size: 59px,   // ~2.441em
  xxlarge-lineHeight: 1.3,
);

// Colors
// ----------------------------------------------------------------

$color-orange: #ee5b28;
$color-ash: #afafaf;

$color-body: #333;
$color-link: #000;
$color-link-hover: $color-orange;

$color-button: #000;
$color-button-hover: $color-orange;