
// Media Query Widths
// ----------------------------------------------------------------

$large-size: (start: 1024px, end: 9999px);
$medium-size: (start: 768px, end: 1023px);
$small-size: (start: 0, end: 767px);

// Layout Sizes
// ----------------------------------------------------------------

$site-width: 800px;
$gutter: 20px;

// Fonts
// ----------------------------------------------------------------

$arno: 'arno-pro', Georgia, serif;
$arno-display: 'arno-pro-display', Georgia, serif;

$font-body: $arno;
$font-heading: $arno-display;
$font-button: $arno;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 900;

// Modular scale: http://modularscale.com/scale/?px1=24&px2=&ra1=1.25&ra2=0
$font-scales: (
  xxsmall-size: 0.512rem,
  xsmall-size: 0.64rem,
  small-size: 0.8rem,
  small-lineHeight: 1.5,
  base-size: 1rem,
  base-lineHeight: 1.5,
  medium-size: 1.25rem,
  medium-lineHeight: 1.3,
  large-size: 1.563rem,
  large-lineHeight: 1.3,
  xlarge-size: 1.953rem,
  xlarge-lineHeight: 1.3,
  xxlarge-size: 2.441rem,
  xxlarge-lineHeight: 1.3,
);

// Colors
// ----------------------------------------------------------------

$color-orange: #ee5b28;
$color-ash: #afafaf;

$color-body: #333;
$color-link: #000;
$color-link-hover: $color-orange;

$color-button: #000;
$color-button-hover: $color-orange;

// Transition Times
// ----------------------------------------------------------------

$transition-color: 250ms;

