<footer id="footer">
  <%= partial "partials/section-social" %>
  <section>
    <header class="full-width-header no-text"><h2>&nbsp;</h2></header>
    <div class="container">
      <div class="content u-text-centered">
        <a href="/archive" class="button">View Posts</a>
      </div>
    </div>
  </section>
</footer>