<footer id="footer">
  <section class="secondary-section">
    <header class="full-width-header"><h2>&nbsp;</h2></header>
    <div class="secondary-section-content two-columns">
      <%= partial "partials/section-about-short" %>
      <%= partial "partials/section-social" %>
    </div>
  </section>
  <section>
    <header class="full-width-header no-text"><h2>&nbsp;</h2></header>
    <div class="container">
      <div class="content u-text-centered">
        <a href="/archive" class="button">More Posts</a>
      </div>
  </section>
</footer>