<header id="header">
  <div data-load-svg="/images/bxtr.svg"></div>
  <div id="logo-type">
    <svg class="logo-letter logo-b" viewBox="0 0 100 100">
       <use xlink:href="#letter-b"></use>
    </svg><!--
    --><svg class="logo-letter logo-x" viewBox="0 0 100 100">
       <use xlink:href="#letter-x"></use>
    </svg><!--
    --><svg class="logo-letter logo-t" viewBox="0 0 100 100">
       <use xlink:href="#letter-t"></use>
    </svg><!--
    --><svg class="logo-letter logo-r" viewBox="0 0 100 100">
       <use xlink:href="#letter-r"></use>
    </svg>
  </div>
</header>