<div class="hex-pattern">
  <svg class="right-back-hex" viewBox="0 0 424 488">
     <use xlink:href="/images/hexagon.svg#hex"></use>
  </svg>
  <svg class="left-back-hex" viewBox="0 0 424 488">
     <use xlink:href="/images/hexagon.svg#hex"></use>
  </svg>
  <svg class="right-middle-hex" viewBox="0 0 424 488">
     <use xlink:href="/images/hexagon.svg#hex"></use>
  </svg>
  <svg class="left-middle-hex" viewBox="0 0 424 488">
     <use xlink:href="/images/hexagon.svg#hex"></use>
  </svg>
  <svg class="front-hex" viewBox="0 0 424 488">
     <use xlink:href="/images/hexagon.svg#hex"></use>
  </svg>
</div>