
<div data-load-svg="/images/hexagon.svg"></div>

<div class="hex-pattern hex-pattern--top">
  <div class="hex-pattern-wrapper">
    <svg class="hex hex--right-back" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
    <svg class="hex hex--left-back" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
    <svg class="hex hex--right-middle" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
    <svg class="hex hex--left-middle" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
    <svg class="hex hex--front" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
  </div>
</div>

<div class="hex-pattern hex-pattern--bottom">
  <div class="hex-pattern-wrapper">
    <svg class="hex hex--right-back" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
    <svg class="hex hex--left-back" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
    <svg class="hex hex--right-middle" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
    <svg class="hex hex--left-middle" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
    <svg class="hex hex--front" viewBox="0 0 424 488">
       <use xlink:href="#hex-symbol"></use>
    </svg>
  </div>
</div>