<section>
  <header class="full-width-header"><h2>Elsewhere</h2></header>
  <div class="container">
    <div class="content u-text-centered">
      <div data-load-svg="/images/social-icons.svg"></div>
      <ul class="social-icons">
        <li>
          <a href="<%= data.links.twitter %>" class="icon">
            Twitter
            <svg viewBox="0 0 60 60">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="<%= data.links.linkedin %>" class="icon">
            LinkedIn
            <svg viewBox="0 0 60 60">
              <use xlink:href="#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="mailto:<%= data.links.mail %>" class="icon">
            E-mail
            <svg viewBox="0 0 60 60">
              <use xlink:href="#icon-mail"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="/feed.xml" class="icon">
            RSS
            <svg viewBox="0 0 60 60">
              <use xlink:href="#icon-rss"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>