<section>
  <header class="full-width-header"><h2>About Me</h2></header>
  <article>
    <div class="content">
      <p><%= image_tag 'about/me.jpg', :class => 'about-image' %> I'm Matt Baxter; a designer and developer in Dallas, TX.</p>
      <p><a href="/about">Read more about me &raquo;</a></p>
    </div>
  </article>
</section>