<section>
  <header class="full-width-header"><h2>About Me</h2></header>
  <article>
    <div class="content">
      <p><img src="http://placehold.it/400x400" class="u-image-left u-width-33" /> I'm Matt Baxter; a designer and developer in Dallas, TX.</p>
      <p><a href="#">Read more about me »</a></p>
    </div>
  </article>
</section>