<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}} · BXTR</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:type" content="website">
        <meta property="og:title" content="{{title}} · BXTR">
        <meta property="og:image" content="/assets/images/og.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="bxtr.co">
        <meta name="twitter:title" content="{{title}} · BXTR">
        <meta name="twitter:image" content="/assets/images/og.png">

        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/main.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Atma:wght@500;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"
    </head>
    {{ content | safe }}
</html>
