---
layout: base.njk
---
<body class="home">
    <main class="site">
        <header class="header">
            <div class="header-wrapper">
                <div class="profile"><img src="/assets/images/profile.jpg" /></div>
                <div class="wordmark">BXTR</div>
            </div>
        </header>
        <section class="container">
            <h2 class="heading">👋 Welcome to my notebook on the internet.</h2>
            <div class="content large">
                <p>Hello, internet traveler. I'm Matt Baxter and this is my personal website. I don't do a whole lot here besides redesign it every few years and very infrequently write something. But, I find it fun to have my own personal corner of the internet to do what I want with it.</p>
                <p>When I'm not browsing the interwebs (do people still do that?) I'm usally spending time with my wife and kiddos or being very snobby about coffee. I'm all about that Jesus guy and enjoy talking theology. I also enjoy playing games of all sorts — video games, board games, and sportsball type games.</p>
                <p>Professionally I'm a product leader at Bestow, building a modern platform for insurance companies looking to make life insurance more accessible to everyone.</p>
                <p>Enjoy your stay in my corner of the internet!</p>
            </div>
        </section>
        <section class="container container--card">
            <h2 class="heading">Very infrequent writing</h2>
            <div class="content">
                <p>I love the idea of writing. I really do. But reality kicks in and literal <em>years</em> go by in between posts.</p>
                <ul class="link-list">
                    {% for post in collections.published | reverse %}
                    <li><a href="{{ post.url }}"><strong>{{ post.data.title }}</strong></a> &middot; <em>{{ post.data.nice_date }}</em></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="container container--card">
            <h2 class="heading">Guest appearances</h2>
            <div class="content">
                <p>I’ve had the opportunity to be interviewed a few times, primarily about product management. I always enjoy the chance to share what I've learned over the years.</p>
                <ul class="link-list">
                    {% for post in guestPosts %}
                    <li><a href="{{ post.url }}"><strong>{{ post.title }}</strong></a> &middot; <em>{{ post.source }}</em></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="container container--card">
            <h2 class="heading">Find me elsewhere</h2>
            <div class="content">
                <p>Pick your favorite social network — I’m probably there. I think I’m too old for TikTok, though (that's what the kids keep telling me). You can also reach out to me on old-fashioned email at <a href="mailto:matt.baxter@gmail.com"><strong>matt.baxter@gmail.com</strong></a>.</p>
                <ul class="icon-list icon-list--dashed">
                    {% for social in socialNetworks %}
                    <li><a href="{{ social.url }}" {% if social.rel %}rel="{{social.rel}}"{% endif %}><img src="{{ social.icon }}" alt="{{ social.name }}" /></a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
</body>