---
layout: base.njk
---
<body class="home">
    <main class="site">
        <header class="header">
            <div class="profile"><img src="/assets/images/profile.jpg" /></div>
            <div class="wordmark">BXTR</div>
        </header>
        <section class="container">
            <p>👋 Welcome to my personal space on the internet.</p>
            <p>From time to time I have grand visions of turning this into the home of my witty, humorous, and insightful weblog that launches me into internet fame. Eventually I chuckle at the thought, think to myself, “Nah, I’m good,” and go back to sipping on my artisinal, handcrafted, pourover cup of coffee.</p>
            <p>Professionally, I’m a product manager for Bestow, where we’re making life insurance more accessible for everyone.</p>
        </section>
        <section class="container container--card">
            <h2 class="heading">Find me elsewhere</h2>
            <div class="content">
                <p>Pick your favorite social network; I’m probably there! I think I’m too old for TikTok, though. You can also reach out to me on old-fashioned email at <a href="mailto:matt.baxter@gmail.com">matt.baxter@gmail.com</a>.</p>
                <ul class="icon-list">
                    {% for social in socialNetworks %}
                    <li><a href="{{ social.url }}"><img src="{{ social.icon }}" alt="{{ social.name }}" /></a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="container container--card">
            <h2 class="heading">Very infrequent writing</h2>
            <div class="content">
                <p>I love the idea of writing. I really do. But reality kicks in and literal years go by in between posts.</p>
                <ul class="link-list">
                    {% for post in collections.published | reverse %}
                    <li><a href="{{ post.url }}"><strong>{{ post.data.title }}</strong></a> &middot; <em>{{ post.data.nice_date }}</em></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="container container--card">
            <h2 class="heading">Guest appearances</h2>
            <div class="content">
                <p>I’ve had the opportunity to be interviewed a few times, primarily about product management.</p>
                <ul class="link-list">
                    {% for post in guestPosts %}
                    <li><a href="{{ post.url }}"><strong>{{ post.title }}</strong></a> &middot; <em>{{ post.source }}</em></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
</body>