---
layout: base.njk
---
<body>
    <div class="site site--article">
        <div class="site__photo" style="background-image: url('cover.jpg');"></div>
        <div class="site__text">
            <h1>{{title}}</h1>

            <p><em>{{nice_date}}</em></p>

            {{content | safe}}

            <p>—</p>

            <p><em>Thoughts? Questions? Feel free to reach out to me at <a href="mailto:matt.baxter@gmail.com">matt.baxter@gmail.com</a>.</em></p>
        </div>
    </div>
</body>
