---
layout: base.njk
---
<body class="page-post">
    <main class="site">
        <header class="header header--small">
            <a class="header-wrapper" href="/">
                <div class="profile"><img src="/assets/images/profile.jpg" /></div>
                <div class="wordmark">BXTR</div>
            </a>
        </header>
        <article class="container">
            <header class="post-header">
                <h1>{{title}}</h1>
                <p><em>Published by on {{ nice_date }}</em></p>
            </header>
            <section class="post-content">
            {{content | safe}}
            </section>
            <footer class="post-footer">
                <p class="centered"><a href="/"><em>&hookleftarrow;&#xfe0e; Back to bxtr.co</em></a></p>
            </footer>
        </article>
        <footer class="footer">
            <section class="container">
                <p><em>Thoughts or questions? Email me at <a href="mailto:matt.baxter@gmail.com">matt.baxter@gmail.com</a> or reach out on your favorite social network.</em></p>
                <ul class="icon-list">
                    {% for social in socialNetworks %}
                    <li><a href="{{ social.url }}"><img src="{{ social.icon_light }}" alt="{{ social.name }}" /></a></li>
                    {% endfor %}
                </ul>
            </section>
        </footer>
    </main>
</body>
