---
layout: base.njk
---
<body class="page-post">
    <main class="site">
        <header class="header header--small">
            <a class="header-wrapper" href="/">
                <div class="profile"><img src="/assets/images/profile.jpg" /></div>
                <div class="wordmark">BXTR</div>
            </a>
        </header>
        <article class="container">
            <h1>{{title}}</h1>
            
            {{content | safe}}
        </article>
        <hr />
        <section class="container">
            <p class="small"><em>Published by <strong>Matt Baxter</strong> on <strong>{{ nice_date }}</strong>.</em></p>
            <p class="small"><em>Thoughts or questions? Email me at <a href="mailto:matt.baxter@gmail.com">matt.baxter@gmail.com</a> or reach out on your favorite social network.</em></p>
            <ul class="icon-list">
                {% for social in socialNetworks %}
                <li><a href="{{ social.url }}"><img src="{{ social.icon }}" alt="{{ social.name }}" /></a></li>
                {% endfor %}
            </ul>
        </section>
        <hr />
        <section class="container">
            <p class="small"><a href="/"><em>&hookleftarrow;&#xfe0e; Back to bxtr.co</em></a></p>
        </section>
    </main>
</body>
