:root {
    --unit: 0.2rem;

    --small-screen-font-size: 0.9em;
    --large-screen-font-size: 1.25em;

    --font-scale-1: 2.25rem;
    --font-scale-2: 1.7171rem;
    --font-scale-3: 1.3104rem;
    --font-scale-4: .7631rem;

    --color-dark: #000000;
    --color-light: #FFFEFA;
}

* {
    box-sizing: border-box;
}

html {
    font-size: var(--small-screen-font-size);
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    color: var(--color-dark);
}

@media only screen and (min-width: 799px) {
    html {
        font-size: var(--large-screen-font-size);
    }
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    position: relative;
    background-color: var(--color-light);

    &:before, &:after {
        display: block;
        content: '';
        position: relative;
        width: 100%;
        height: calc(2*var(--unit));
        background-image: url('/assets/images/halftone_bg.png');
        background-size: 4px 4px;
    }

    &:before {
        border-top: solid calc(2*var(--unit)) var(--color-dark);
        top: 0;
    }

    &:after {
        border-bottom: solid calc(2*var(--unit)) var(--color-dark);
        bottom: 0;
    }
}

/*
    Typography and basic tags 
    ---------------------------------------------
*/

h1, h2, h3 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 900;
    margin-top: 0.85em;
    margin-bottom: 0;
}

h1 { font-size: var(--font-scale-1); }
h2 { font-size: var(--font-scale-2); }
h3 { font-size: var(--font-scale-3); }

p {
    margin-top: 0.85em;
    margin-bottom: 0.85em;
}

strong {
    font-weight: 600;
}

a {
    color: var(--color-dark);
}

img {
    vertical-align: middle;
    max-width: 100%;
}

/*
    Layout 
    ---------------------------------------------
*/

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: calc(4 * var(--unit));
    padding-right: calc(4 * var(--unit));
}

.intro, .container {
    max-width: 700px;
    width: 100%;
    margin-bottom: calc(12 * var(--unit));
}

.container {
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark);
    background-color: var(--color-light);
    position: relative;

    &:after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: calc(2 * var(--unit));
        left: calc(2 * var(--unit));
        z-index: -1;
        background-image: url('/assets/images/halftone_bg.png');
        background-size: 4px 4px;
        border-radius: 12px;
    }

    .heading {
        font-weight: 600;
        font-size: var(--font-scale-4);
        text-transform: uppercase;
        background-color: var(--color-dark);
        color: var(--color-light);
        letter-spacing: 0.08em;
        margin-top: 0;
        border-radius: 11px 11px 0 0;
        padding: calc(4 * var(--unit)) calc(6 * var(--unit));
    }

    .content {
        margin: 0 calc(6 * var(--unit));
    }

    .link-list {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0.85em;
        margin-bottom: 0;
        margin-right: calc(-1 * 6 * var(--unit));

        li {
            margin: 0;
            padding-top: 0.85em;
            padding-bottom: 0.85em;
            padding-right: calc(6 * var(--unit));
            border-top: dashed 1px var(--color-dark);
        }
        
        a {
            text-decoration: none;
            outline: solid 0.2em rgba(0,0,0,0);
            border-radius: 0.1em;
            transition: outline-color 0.2s, background-color 0.2s;

            &:hover {
                outline-color: #FDFFAE;
                background-color: #FDFFAE;
            }
        }
    }
}