:root {
    --unit: 0.2rem;

    --small-screen-font-size: 0.9em;
    --large-screen-font-size: 1.25em;

    --max-width: 36rem;
    --margin-xlarge: calc(16 * var(--unit));
    --margin-large: calc(12 * var(--unit));
    --margin-medium: calc(8 * var(--unit));
    --margin-small: calc(6 * var(--unit));
    --margin-xsmall: calc(4 * var(--unit));

    --font-scale-1: 1.75rem;
    --font-scale-2: 1.4522em;
    --font-scale-3: 1.2051em;
    --font-scale-4: .7631rem;;

    --color-dark: #000000;
    --color-light-1: #FDF6E3;
    --color-light-2: #FEF8EB;
}

* {
    box-sizing: border-box;
}

html {
    font-size: var(--small-screen-font-size);
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    color: var(--color-dark);
}

@media only screen and (min-width: 799px) {
    html {
        font-size: var(--large-screen-font-size);
    }
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    position: relative;
    background-color: var(--color-light-1);
    min-width: 320px;

    &:before, &:after {
        display: block;
        content: '';
        position: relative;
        width: 100%;
        height: calc(2*var(--unit));
        background-image: url('/assets/images/halftone_bg.png');
        background-size: 4px 4px;
    }

    &:before {
        border-top: solid calc(2*var(--unit)) var(--color-dark);
        top: 0;
    }

    &:after {
        border-bottom: solid calc(2*var(--unit)) var(--color-dark);
        bottom: 0;
    }
}

/*
    Typography and basic tags 
    ---------------------------------------------
*/

h1, h2, h3 {
    font-family: 'Inter Tight', sans-serif;
    margin-top: 1em;
    margin-bottom: 0;
    line-height: 1.4;
}

h1 { 
    margin-top: 0;
    font-size: var(--font-scale-1);
    font-weight: 900;
    margin-bottom: 1em;
}
h2 { 
    font-size: var(--font-scale-2); 
    font-weight: 600;
}
h3 { 
    font-size: var(--font-scale-3); 
    font-weight: 600;
}

.small, small {
    font-size: var(--font-scale-4);
}

p {
    margin-top: 0.85em;
    margin-bottom: 0.85em;
}

blockquote {
    border-left: solid 4px rgba(0,0,0,0.1);;
    margin-top: 0.85em;
    margin-bottom: 0.85em;
    margin-left: var(--margin-xsmall);
    margin-right: var(--margin-xsmall);
    padding-left: var(--margin-xsmall);
}

strong {
    font-weight: 600;
}

a {
    color: var(--color-dark);
    outline: solid 0.3em rgba(0,0,0,0);
    border-radius: 0.1em;
    transition: outline-color 0.1s, background-color 0.1s;

    &:hover {
        outline-color: #FDFFAE;
        background-color: #FDFFAE;
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
}

hr {
    border: none;
    max-width: var(--max-width);
    width: 100%;
    height: 4px;
    background-image: url('/assets/images/halftone_bg.png');
    background-size: 4px 4px;
    margin-top: 0;
    margin-bottom: var(--margin-medium);
}

/*
    Layout and components
    ---------------------------------------------
*/

.page-post {
    background-color: var(--color-light-2);
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: var(--margin-small);
    padding-right: var(--margin-small);
    padding-bottom: var(--margin-large);
}

.header {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--margin-small);
    margin-top: var(--margin-large);
    margin-bottom: var(--margin-large);
}

.profile {
    position: relative;
    display: inline-block;
    width: calc(27 * var(--unit));
    height: calc(27 * var(--unit));
    transform: rotate(-3deg);
}

.profile img {
    border: solid 1px var(--color-dark);
    border-radius: 25%;
    width: 100%;
}

.profile:after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: calc(2 * var(--unit));
    left: calc(2 * var(--unit));
    z-index: -1;
    background-image: url('/assets/images/halftone_bg.png');
    background-size: 4px 4px;
    border-radius: 25%;
}

.wordmark {
    display: inline-block;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 900;
    font-size: calc(20 * var(--unit));
    letter-spacing: 0.15em;
}

.header--small {
    justify-content: left;
    gap: calc(3 * var(--unit));
}

.header--small .profile {
    width: calc(13.5 * var(--unit));
    height: calc(13.5 * var(--unit));

    &:after {
        top: calc(1 * var(--unit));
        left: calc(1 * var(--unit));
    }
}

.header--small .wordmark {
    font-size: calc(10 * var(--unit));
}

.container {
    max-width: var(--max-width);
    width: 100%;
    margin-bottom: var(--margin-large);
}

.container--card {
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark);
    background-color: var(--color-light-2);
    position: relative;
    margin-bottom: var(--margin-xlarge);
}

.container--card:after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: calc(2 * var(--unit));
    left: calc(2 * var(--unit));
    z-index: -1;
    background-image: url('/assets/images/halftone_bg.png');
    background-size: 4px 4px;
    border-radius: 12px;
}

.container--card .heading {
    font-weight: 600;
    font-size: var(--font-scale-4);
    text-transform: uppercase;
    background-color: var(--color-dark);
    color: var(--color-light-2);
    letter-spacing: 0.08em;
    margin-top: 0;
    border-radius: 11px 11px 0 0;
    padding: var(--margin-small) var(--margin-medium);
}

.container--card .content {
    margin: var(--margin-small) var(--margin-medium);
}

.container--card .content *:first-child {
    margin-top: 0;
}

.container--card .content *:last-child {
    margin-bottom: 0;
}

.link-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.85em;
    margin-bottom: 0;
    margin-right: calc(-1 * var(--margin-medium));
}

.link-list li {
    margin: 0;
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    padding-right: var(--margin-medium);
    border-top: dashed 1px var(--color-dark);
}

.link-list li:last-child {
    padding-bottom: 0;
}

.link-list a {
    text-decoration: none;
}

.link-list em {
    font-size: var(--font-scale-4);
}

.icon-list {
    list-style-type: none;
    padding-left: 0;
}

.icon-list li {
    float: left;
    padding-right: var(--margin-xsmall);
}

.icon-list img {
    width: calc(6 * var(--unit));
    height: calc(6 * var(--unit));
    vertical-align: text-top;
}

.icon-list--dashed {
    margin-top: 0.85em;
    margin-bottom: 0;
    margin-left: calc(-1 * var(--margin-small));
}

.icon-list--dashed li {
    padding: var(--margin-xsmall) var(--margin-small);
    border-right: dashed 1px var(--color-dark);
}