---
layout: page
title: About
---

I'm Matt Baxter, a product designer in the Dallas, Texas metroplex. Although I graduated with a degree in Computer Engineering, I'm passionate and focused on user experience and product design. 

I work at [Luscinia Health](<%= data.links.work %> "Luscinia Health") where I'm working on software products to help people save money on the rising costs of prescription drugs.

I'm married to my wonderful wife, Erin (who has an awesome [marriage blog](http://mystery32.com "Mystery32")). I have two incredible kids named Isaac and Hallie. I'm a believer in Jesus Christ, a coffee snob, a gamer, a whiskey and beer drinker, a [doodler](<%= data.links.sketch %> "My sketch blog"), and I have a bad habit of wearing skinny jeans.

![Baxter Family](about/baxter-family.jpg){: .photo .photo-wide}

## Want to chat?

Reach out on [Twitter](<%= data.links.twitter %> "Tweet at me, bro") or <a href="mailto:<%= data.links.mail %>">e-mail me</a>.

## Nerdy details

This site is built on [Middleman](https://middlemanapp.com/ "Middleman") and [Sass](http://sass-lang.com/ "Sass"). I use [PT Sans Narrow](https://www.google.com/fonts/specimen/PT+Sans+Narrow) for headlines and [Lato](https://www.google.com/fonts/specimen/Lato) for body copy. Only artisanal, single-origin, hand-crafted, organic HTML, CSS, and JavaScript is used. The code is hosted on [Github](http://github.com/mbxtr "Github").