---
title: Archive
layout: secondary
---

<section>
  <div class="container">
    <header class="page-header">
      <h1 class="page-title">Archive</h1>
    </header>
  </div>
  <article class="post post-summary">
    <header class="post-header">
      <h3 class="post-title"><a href="#">10 Ways to be Snobby and Annoying About Coffee</a></h3>
      <div class="post-meta"><time>June 3, 2014</time> &middot; <a href="#" class="post-summary-tag">#coffee</a></div>
    </header>
    <p class="post-teaser">Coffee is delicious and pretty much the best thing in the world. However, in order to fully enjoy it you need to do certain things to let everyone know that you enjoy it. Here’s a handy how-to guide for doing that.</p>
  </article>
  <article class="post post-summary">
    <header class="post-header">
      <h3 class="post-title"><a href="#">10 Ways to be Snobby and Annoying About Coffee and Still Have Friends</a></h3>
      <div class="post-meta"><time>June 3, 2014</time> &middot; <a href="#" class="post-summary-tag">#coffee</a></div>
    </header>
    <p class="post-teaser">Coffee is delicious and pretty much the best thing in the world. However, in order to fully enjoy it you need to do certain things to let everyone know that you enjoy it. Here’s a handy how-to guide for doing that.</p>
  </article>
  <p class="u-text-centered">
    <a href="#" class="button">Next</a>
  </p>
</section>