---
title: Archive
layout: secondary
pageable: true
---

<section>
  <div class="container">
    <header class="page-header">
      <h1 class="page-title title">Archive</h1>
    </header>
  </div>
  <% page_articles.each do |article| %>
    <%= partial "partials/entry-summary", :locals => { :article => article } %>
  <% end %>
  <p class="u-text-centered">
    <% if paginate %>
      <% if prev_page %>
        <a href="<%= prev_page.url %>" class="button">Prev</a>
      <% end %>
      <% if next_page %>
        <a href="<%= next_page.url %>" class="button">Next</a>
      <% end %>
    <% end %>
  </p>
</section>