---
title: Post Example
layout: post-page
---

<section>
  <article class="post">
    <header class="post-header">
      <h1 class="post-title"><a href="#">10 Ways to be Snobby and Annoying About Coffee</a></h1>
      <span class="post-meta"><time>June 3, 2014</time> &middot; <a href="#" class="post-summary-tag">#coffee</a></span>
    </header>
    <div class="post-content">
      <p>Coffee is delicious and pretty much the best thing in the world. However, in order to fully enjoy it you need to do certain things to let everyone know that you enjoy it. Here’s a handy how-to guide for doing that.</p>
    </div>
  </article>
</section>