---
title: Post Example
layout: post-page
---

<section>
  <article class="post">
    <header class="post-header">
      <h1 class="post-title"><a href="#">10 Ways to be Snobby and Annoying About Coffee</a></h1>
      <span class="post-meta"><time>June 3, 2014</time> &middot; <a href="#" class="post-summary-tag">#coffee</a></span>
    </header>
    <div class="post-content">
      <p>Coffee is delicious and <a href="#">pretty much the best thing in the world</a>. However, in order to fully enjoy it you need to do certain things to let everyone know that you enjoy it. Here’s a handy how-to guide for doing that.</p>
      <h2>Heading 2</h2>
      <p><b>Lorem ipsum dolor sit amet</b>, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.</p>
      <p><i>Excepteur sint occaecat cupidatat</i> non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Heading 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h4>Heading 4</h4>
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ol>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <blockquote>
        &ldquo;This is obviously a quote from somebody very important.&rdquo;
      </blockquote>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </article>
</section>

<section class="secondary-section">
  <header class="full-width-header"><h2>&nbsp;</h2></header>
  <div class="secondary-section-content two-columns">
    <section>
      <header class="full-width-header"><h2>About Me</h2></header>
      <article>
        <div class="content">
          <p><img src="http://placehold.it/400x400" class="u-image-left" /> I'm Matt Baxter; a designer and developer in Dallas, TX.</p>
          <p><a href="#">Read more about me »</a></p>
        </div>
      </article>
    </section>

    <section>
      <header class="full-width-header"><h2>Elsewhere</h2></header>
      <div class="container">
        <div class="content u-text-centered">
          <div data-load-svg="/images/social-icons.svg"></div>
          <ul class="social-icons">
            <li>
              <a href="<%= data.social.twitter %>" class="icon">
                Twitter
                <svg viewBox="0 0 60 60">
                  <use xlink:href="#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="<%= data.social.linkedin %>" class="icon">
                LinkedIn
                <svg viewBox="0 0 60 60">
                  <use xlink:href="#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:<%= data.social.mail %>" class="icon">
                E-mail
                <svg viewBox="0 0 60 60">
                  <use xlink:href="#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</section>
<section>
  <header class="full-width-header no-text"><h2>&nbsp;</h2></header>
  <div class="container">
    <div class="content u-text-centered">
      <a href="#" class="button">More Posts</a>
    </div>
</section>