---
title: bxtr.co
---

<section>
  <header class="full-width-header"><h2>About Me</h2></header>
  <article>
    <div class="content">
      <p><img src="http://placehold.it/400x400" class="u-image-left" /> Hi, my name is <a href="#">Matt Baxter</a>. I’m a <a href="#">designer and developer</a> at <a href="#">projekt202</a> in Dallas, TX.</p>  
      <p>I like to <a href="#">doodle and sketch</a>. I <a href="#">tweet</a> about design, technology, coffee, and life. When I have more to say than 140 characters, I <a href="#">write</a> on this site.</p>
    </div>
    <div class="content">
      <p class="u-text-centered">
        <a href="#" class="button">More About Me</a>
      </p>
    </div>
  </article>
</section>

<section>
  <header class="full-width-header"><h2>Recent Posts</h2></header>
  <article class="post-summary">
    <header class="post-summary-header">
      <h3 class="post-summary-title"><a href="#">10 Ways to be Snobby and Annoying About Coffee</a></h3>
      <span class="post-summary-meta"><time>June 3, 2014</time> &middot; <a href="#" class="post-summary-tag">#coffee</a></span>
    </header>
    <p class="post-summary-teaser">Coffee is delicious and pretty much the best thing in the world. However, in order to fully enjoy it you need to do certain things to let everyone know that you enjoy it. Here’s a handy how-to guide for doing that.</p>
  </article>
  <article class="post-summary">
    <header class="post-summary-header">
      <h3 class="post-summary-title"><a href="#">10 Ways to be Snobby and Annoying About Coffee and Still Have Friends</a></h3>
      <span class="post-summary-meta"><time>June 3, 2014</time> &middot; <a href="#" class="post-summary-tag">#coffee</a></span>
    </header>
    <p class="post-summary-teaser">Coffee is delicious and pretty much the best thing in the world. However, in order to fully enjoy it you need to do certain things to let everyone know that you enjoy it. Here’s a handy how-to guide for doing that.</p>
  </article>
  <p class="u-text-centered">
    <a href="#" class="button">More Posts</a>
  </p>
</section>

<section>
  <header class="full-width-header"><h2>Elsewhere</h2></header>
  <ul class="social-icons">
    <li><a href="#">Twitter</a></li>
    <li><a href="#">LinkedIn</a></li>
    <li><a href="#">E-mail</a></li>
  </ul>
</section>