---
title: Post
---

<section>
  <header class="full-width-header"><h1>Recent Posts</h1></header>
  <article class="post-summary">
    <header class="post-summary-header">
      <h2>10 Ways to be Snobby and Annoying About Coffee</h2>
      <span><time>June 3, 2014</time> &middot; <a href="#">coffee</a></span>
    </header>
    <p class="post-summary-teaser">Coffee is delicious and pretty much the best thing in the world. However, in order to fully enjoy it you need to do certain things to let everyone know that you enjoy it. Here’s a handy how-to guide for doing that. <a href="#">read more »</a></p>
  </article>
  <article class="post-summary">
    <header class="post-summary-header">
      <h2>10 Ways to be Snobby and Annoying About Coffee</h2>
      <span><time>June 3, 2014</time> &middot; <a href="#">coffee</a></span>
    </header>
    <p class="post-summary-teaser">Coffee is delicious and pretty much the best thing in the world. However, in order to fully enjoy it you need to do certain things to let everyone know that you enjoy it. Here’s a handy how-to guide for doing that. <a href="#">read more »</a></p>
  </article>
  <a href="#" class="button">More Posts</a>
</section>

<section>
  <header class="full-width-header"><h1>About Me</h1></header>
  <img src="http://placehold.it/400x400" />
  <p>Hi, my name is <a href="#">Matt Baxter</a>. I’m a <a href="#">designer and developer</a> at <a href="#">projekt202</a> in Dallas, TX.</p>
  <p><a href="#" class="u-raquo">More about me</a>
</section>

<section>
  <header class="full-width-header"><h1>Elsewhere</h1></header>
  <ul class="social-icons">
    <li><a href="#">Twitter</a></li>
    <li><a href="#">LinkedIn</a></li>
    <li><a href="#">E-mail</a></li>
  </ul>
</section>